<script type="text/javascript" src="static/user.js"></script>

{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
		<div>
		<form id="entryForm" action="/SaveProfile" method="post" >
		<table>
		<tr>
			<td>Gender:</td>
			{% if profile.sex == "female" %}
			<td><input type="hidden" name="sex" value="female">Female</td>
			{% elif profile.sex == "male" %}
			<td><input type="hidden" name="sex" value="male">Male</td>
			{% else %}
			<td><input id="sexFemale" type="radio" name="sex" value="female">Female<input id="sexMale" type="radio" name="sex" value="male">Male</td>			
			{% endif %}
		</tr>
		<tr>
			<td>Weight:</td>
			<td><input id="weight" type="text" name="weight" value="{{profile.weight}}" size="3">
			{% if profile.weightUnit == "kg" %}
			<select id="weightUnit" name="weightUnit"><option value="lbs">lbs</option><option value="kg" selected>kg</option></select></td>
			{% else %}
			<select id="weightUnit" name="weightUnit"><option value="lbs" selected>lbs</option><option value="kg">kg</option></select></td>
			{% endif %}
		</tr>
		</table>
		<input type="submit" value="Save">
		</form>
		
		<p><a href="ClearUserData">Clear all user data</a>
		</div>
  {% endif %}
{% endblock %}
